### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [191]:
# Dependencies and Setup
import pandas as pd
import os
import numpy as np

# File to Load (Remember to Change These)
load_file_path = os.path.join("..", "Resources", "purchase_data.csv")

# Read Purchasing File and store into Pandas data frame
main_df = pd.read_csv(load_file_path)

# Test loading of CSV, view file layout
main_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [192]:
# Verify that no missing values exist in df
main_df.count()

Purchase ID    780
SN             780
Age            780
Gender         780
Item ID        780
Item Name      780
Price          780
dtype: int64

## Player Count

* Display the total number of players

In [193]:
# OPTIONAL: Create narrow df with only 2 columns to prep for simplified groupby
count_df = main_df.loc[:, ['Purchase ID', 'SN']]
count_df.head()

   Purchase ID             SN
0            0        Lisim78
1            1    Lisovynya38
2            2     Ithergue48
3            3  Chamassasya86
4            4      Iskosia90

In [194]:
# Group narrowed df by Screen Name and generate a count
player_df = count_df.groupby(["SN"]).count()
print(player_df)

               Purchase ID
SN
Adairialis76             1
Adastirin33              1
Aeda94                   1
Aela59                   1
Aelaria33                1
...                    ...
Yathecal82               3
Yathedeu43               2
Yoishirrala98            1
Zhisrisu83               2
Zontibe81                3

[576 rows x 1 columns]

In [195]:
# Count rows in grouped table to generate count of Screen Names (i.e., unique players)
total_players = len(player_df)
print(total_players)

# Create summary table showing player count
summary_players = pd.DataFrame({"Total Players": total_players}, index=[0])
print(summary_players)

576
   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [196]:
# Use main_df to calculate total purchases
total_purchases = len(main_df)
print(total_purchases)

# Use main_df to calculate number of unique items, and total revenue
item_df = main_df.groupby(['Item ID'])
total_items = len(item_df)
print(total_items)

780
179

In [197]:
# Use main_df to calculate average price
average_price = main_df["Price"].mean()
print(average_price)

# Use main_df to calculate total revenue
total_rev = main_df["Price"].sum()
print(total_rev)

# Create summary table showing purchasing analysis values
summary_purchasing = pd.DataFrame({"Total Purchases": total_purchases,
                                  "Number of Unique Items": total_items,
                                  "Average Price": average_price,
                                  "Total Revenue": total_rev},
                                 index=[0])
print(summary_purchasing)

3.050987179487176
2379.77
   Total Purchases  Number of Unique Items  Average Price  Total Revenue
0              780                     179       3.050987        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [198]:
# Use main_df to calculate gender stats

# Narrow main_df to relevant columns
# loc_gender_df = main_df.loc[:, ["SN", "Gender"]]
# print(loc_gender_df)

# Remove duplicate Screen Names from df, reindex in order to avoid Setting with Copy warning for future operations on df
unique_gender_df = main_df.drop_duplicates(subset="SN", keep='first').reset_index(drop=True)
# print(unique_gender_df)

# Group by Gender to get number of male/female
gender_df = unique_gender_df.groupby(['Gender'])
gender_count = gender_df.count()
print(gender_count)

# Generate percentages list (?)
percent_list = (gender_count["SN"]/total_players) * 100
print(percent_list)

# Create summary table showing gender demographics values
summary_gender = pd.DataFrame({"Total Players": gender_count["Purchase ID"],
                              "Percentage of Players": percent_list})
print(summary_gender)

                       Purchase ID   SN  Age  Item ID  Item Name  Price
Gender
Female                          81   81   81       81         81     81
Male                           484  484  484      484        484    484
Other / Non-Disclosed           11   11   11       11         11     11
Gender
Female                   14.062500
Male                     84.027778
Other / Non-Disclosed     1.909722
Name: SN, dtype: float64
                       Total Players  Percentage of Players
Gender
Female                            81              14.062500
Male                             484              84.027778
Other / Non-Disclosed             11               1.909722


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [199]:
# Create a df grouped by gender
gender_pur_df = main_df.groupby("Gender")

# Calculate the total purchases by gender
pur_count_gender = gender_pur_df["Purchase ID"].count()
pur_count_gender

# Calculate the average purchase price by gender
avg_price_gender = gender_pur_df["Price"].mean()
avg_price_gender

# Calculate the total purchase value by gender
total_pur_gender = gender_pur_df["Price"].sum()
total_pur_gender

# Create a summary table showing purchase stats by gender
gender_per_pers = pd.DataFrame({"Total Purchases": pur_count_gender,
                               "Average Purchase Price": avg_price_gender,
                               "Total Purchase Value": total_pur_gender})
print(gender_per_pers)

                       Total Purchases  Average Purchase Price  \
Gender
Female                             113                3.203009
Male                               652                3.017853
Other / Non-Disclosed               15                3.346000

                       Total Purchase Value
Gender
Female                               361.94
Male                                1967.64
Other / Non-Disclosed                 50.19

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [200]:
# Create bins for ages
bins = [0, 9, 14, 19, 24, 29, 34, 39, 120]

# Establish bin names
bin_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# Add age range column to df by cutting the df by age
unique_gender_df["Age Range"] = pd.cut(unique_gender_df["Age"], bins, labels=bin_names)
unique_gender_df.head()

# Create a new df grouped by the age range column and calculate the total players in each age range
age_df = unique_gender_df.groupby(['Age Range'])
count_age = age_df["Gender"].count()
# print(count_age)

# Calculate the percentage of players in each age range
percent_age = (count_age / total_players) * 100

# Create a summary table showing age breakdown of players
summary_age = pd.DataFrame({"Total Players": count_age,
                           "Percentage of Players": percent_age})
print(summary_age)

           Total Players  Percentage of Players
Age Range
<10                   17               2.951389
10-14                 22               3.819444
15-19                107              18.576389
20-24                258              44.791667
25-29                 77              13.368056
30-34                 52               9.027778
35-39                 31               5.381944
40+                   12               2.083333

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [217]:
# Create an age range column in the full (non-unique) df by cutting the df by age
main_df["Age Range"] = pd.cut(main_df["Age"], bins, labels=bin_names)
# main_df()

# Create a new df grouped by age range
age_group_df = main_df.groupby(['Age Range'])

# Calculate the total purchases by age range
purchase_age = age_group_df["Purchase ID"].count()
# print(purchase_age)

# Calculate the average purchase price by age range
avgprice_age = age_group_df["Price"].mean()
# print(avgprice_age)

# Calculate the total purchases by age range
totalpurch_age = age_group_df["Price"].sum()
# print(totalpurch_age)

# Calculate the average total purchases per person by age range
age_group_df = main_df.groupby(["SN"])
# print(age_group_df)

pur_per_pers_df = age_group_df["Price"].sum()
# print(pur_per_pers_df)

merge_purch_df = pd.merge(unique_gender_df, pur_per_pers_df, how='left', on='SN')
# print(merge_purch_df)

merge_group_df = merge_purch_df.groupby(['Age Range'])
purch_per_pers_gen = merge_group_df["Price_y"].mean()
# print(purch_per_pers_gen)

summary_purch_age = pd.DataFrame({"Purchase Count": purchase_age,
                           "Average Purchase Price": avgprice_age,
                                 "Total Purchase Value": totalpurch_age,
                                 "Avg Total Purchase per Person": purch_per_pers_gen})
print(summary_purch_age)

           Purchase Count  Average Purchase Price  Total Purchase Value  \
Age Range
<10                    23                3.353478                 77.13
10-14                  28                2.956429                 82.78
15-19                 136                3.035956                412.89
20-24                 365                3.052219               1114.06
25-29                 101                2.900990                293.00
30-34                  73                2.931507                214.00
35-39                  41                3.601707                147.67
40+                    13                2.941538                 38.24

           Avg Total Purchase per Person
Age Range
<10                             4.537059
10-14                           3.762727
15-19                           3.858785
20-24                           4.318062
25-29                           3.805195
30-34                           4.115385
35-39                           4.763548
40+                             3.186667

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [8]:
sorted_age_group_df = age_group_df.sort_values("")

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [227]:
items_df = main_df.loc[:, ["Item ID", "Item Name", "Price"]]
items_df

total_purchval_by_item = items_df.groupby(["Item ID", "Item Name"]).sum()["Price"]
total_purchval_by_item

total_purch_by_item = items_df.groupby(["Item ID", "Item Name"]).sum()["Price"]
total_purch_by_item

Item ID  Item Name
0        Splinter                                         5.12
1        Crucifer                                        11.77
2        Verdict                                         14.88
3        Phantomlight                                    14.94
4        Bloodlord's Fetish                               8.50
                                                         ...
178      Oathbreaker, Last Hope of the Breaking Storm    50.76
179      Wolf, Promise of the Moonwalker                 26.88
181      Reaper's Toll                                    8.30
182      Toothpick                                       12.09
183      Dragon's Greatsword                              3.27
Name: Price, Length: 179, dtype: float64

In [223]:
# Narrow df to 3 item columns
pop_df = main_df[["Item ID", "Item Name", "Price"]]

pop_group_df = pop_df.groupby(['Item ID', 'Item Name'])

purchase_count = pop_group_df['Price'].count()
print(purchase_count)

avg_item_price = pop_group_df['Price'].mean()
print(avg_item_price)

Item ID  Item Name
0        Splinter                                         4
1        Crucifer                                         4
2        Verdict                                          6
3        Phantomlight                                     6
4        Bloodlord's Fetish                               5
                                                         ..
178      Oathbreaker, Last Hope of the Breaking Storm    12
179      Wolf, Promise of the Moonwalker                  6
181      Reaper's Toll                                    5
182      Toothpick                                        3
183      Dragon's Greatsword                              3
Name: Price, Length: 179, dtype: int64
Item ID  Item Name
0        Splinter                                        1.2800
1        Crucifer                                        2.9425
2        Verdict                                         2.4800
3        Phantomlight                                    2.4900
4        Bloodlord's Fetish                              1.7000
                                                          ...
178      Oathbreaker, Last Hope of the Breaking Storm    4.2300
179      Wolf, Promise of the Moonwalker                 4.4800
181      Reaper's Toll                                   1.6600
182      Toothpick                                       4.0300
183      Dragon's Greatsword                             1.0900
Name: Price, Length: 179, dtype: float64

In [224]:
total_purchase_value = pop_group_df['Price'].sum()
# print(total_purchase_value)

merge_pop_df = pd.merge(avg_item_price, purchase_count, how='inner', on='Item ID')
print(merge_pop_df)

merge_pop_df_two = pd.merge(merge_pop_df, total_purchase_value, how='inner', on='Item ID')
print(merge_pop_df_two)

# Rename columns

         Price_x  Price_y
Item ID
0         1.2800        4
1         2.9425        4
2         2.4800        6
3         2.4900        6
4         1.7000        5
...          ...      ...
178       4.2300       12
179       4.4800        6
181       1.6600        5
182       4.0300        3
183       1.0900        3

[179 rows x 2 columns]
         Price_x  Price_y  Price
Item ID
0         1.2800        4   5.12
1         2.9425        4  11.77
2         2.4800        6  14.88
3         2.4900        6  14.94
4         1.7000        5   8.50
...          ...      ...    ...
178       4.2300       12  50.76
179       4.4800        6  26.88
181       1.6600        5   8.30
182       4.0300        3  12.09
183       1.0900        3   3.27

[179 rows x 3 columns]

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80